.createTodo{
    position: absolute;
    top: 100px;
    width: 50%;
    left:280px;
    background-color: white;
   padding: 7px;
    border-radius: 10px;
    display: flex;
}

.createTodoInput{
width: 100%;
border: none;
}

.createTodoButton{
    background-color: transparent;
    border: 3px solid red;
    border-radius: 5px 15px;
    padding: 10px 15px 10px 20px;
    font-size: 18px;
    font-weight: 600;
}